@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Sarina&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  outline: none;
}

.text-stroke {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;

}

body {
  width: 100vw;
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/vector3.png");

  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.322);
}

main {
  padding: 30px 30px 30px 0;
  min-width: 98vw;
  min-height: 99vh;
  display: grid;
  grid-template-columns: 2fr 6fr 2.7fr;
  grid-template-rows: 1fr;

  background-color: none;
}

@media (max-width: 1280px) {
  main {
    grid-template-columns: 0.3fr 9fr 3fr;
  }
}

@media (max-width: 1024px) {
  main {
    grid-template-columns: 0.3fr 10fr 0;
    grid-template-rows: 1fr;

  }
}